.posts-container {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
}

.posts-container h1 {
  margin-bottom: 50px;
}

.posts-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
  gap: 20px;
}

.posts-container .box-container .box-img .lowerleft-carousel {
  text-align: start ;
}

.posts-container .box-container .box-img {
  display: none;
}

.posts-container .box-container .box-img:nth-child(1),
.posts-container .box-container .box-img:nth-child(2),
.posts-container .box-container .box-img:nth-child(3),
.posts-container .box-container .box-img:nth-child(4),
.posts-container .box-container .box-img:nth-child(5),
.posts-container .box-container .box-img:nth-child(6) {
  display: inline-block;
}

.posts-container .box-container .box-img:last-child {
  margin-bottom: 100px;
}

.posts-container .box-container .box-img {
  margin-bottom: 20px;
  overflow: hidden;
  height: 236px;
  border-radius: 7px;
  width: 100%;
}

.posts-container .box-container .box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#see-more {
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 2px solid #FFF;
  cursor: pointer;
}

#see-more:hover {
  color: black;
  background-color: #FFF;

}