.contact-container,
.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container img {
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px ;
  width: 1020px;
}

.contact-container div {
  margin-bottom: 20px;
}

.contact-container div input,
.contact-container div textarea {
  height: 39px;
  padding: 11px 131px 11.85px 19px;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
  border: none;
  outline: none;
  border-radius: 2px;
}

.contact-container div textarea {
  width: 500px;
  height: 200px;
}

.error {
  color: red;
}


@media (max-width: 1070px) {

  .contact-container img,
  .contact-container div textarea {
    width: 100%;
  }


}