.container{
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  justify-content: center;
  margin: auto;
}

.content-rendered h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.container img {
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 10px ;
  cursor: pointer;
}

.content-rendered p,
.content-rendered blockquote {
  margin-bottom: 20px;
  font-family: roboto;
}
.content-rendered p {
  font-size: 18px;
  color: #E4E4E4;
  font-weight: 400;
}

.container h1 {
  margin-bottom: 30px;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-rendered blockquote{
  border: 2px solid #D8B320;
}

.content-rendered blockquote p {
  text-align: center;
  margin: 10px 10px 10px 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--main-white);
}

.content-rendered div {
  display: flex;
  flex-direction: row;
}

.content-rendered img:nth-child(1) {
  margin-top: 0px;
  align-items: center;
}


.content-rendered img {
  margin: auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container .popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}

.container .popup img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
}
/* .image-module img {
  position: fixed;
  top: 0; left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}

.image-module img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
*/




@media (max-width: 1070px) {
  .container {
    margin: 0px 20px;
  }

  .content-rendered p {
    font-size: 14px;
  }

  .container h1 {
    font-size: 30px;
  }

  .content-rendered h2 {
    font-size: 21px;
  }

  .content-rendered blockquote p {
    font-size: 18px;
  }

  /* .content-rendered div {
    align-items: center;
  }
  */

  .container .popup img {
    max-height: 100%;
    width: 100%;
    padding: 50px;
  }
  
}

@media (max-width: 725px){

  .content-rendered div {
    flex-direction: column;
  }

  /* .content-rendered img:nth-child(1) {
    align-content: flex-start;
    display: inline-block;
  }
  */
}

@media (max-width: 500px) {
  .content-rendered img {
    width: 100%;
    height: 100%;
  }
}



