@import url("post.css");


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "roboto condensed", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: var(--main-white);
  background-color: var(--main-background);
}

:root {
  --main-white: #fefefe;
  --nav-dark: #14161B;
  --main-background: #1A1D24;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

/* Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--nav-dark);
  padding: 0 70px;
}

.logo {
  margin-right: auto;
}

.nav-links li {
  display: inline-block;
  padding: 0 15px;
}

li, a {
  font-size: 20px;
  color: var(--main-white);
}

/* Homepage */

.hero-container {
  height: 500px;
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.hero-container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.hero-text h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 415px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.img-overlay,
.carousel-img {
  position: relative;
  width: 500px;
  height: auto;
}

.lowerleft,
.lowerleft-carousel {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 24px;
  pointer-events: none;
}

.upperright,
.upperright-carousel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  background: grey;
  padding: 5px 5px;
  opacity: 0.5;
  border-radius: 7px;
  pointer-events: none;
}

.new-post {
  font-size: 13px;
  margin-bottom: 8px;
}

.cta-button {
display: inline-flex;
padding: 10px 22px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #D8B320;
font-weight: bold;
border: none;
}

.recent-reviews {
  margin-bottom: 100px;
}

.recent-reviews h2 {
padding-bottom: 10px;
display: flex;
flex-direction: column;
max-width: 1020px;
margin: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  max-width: 1022px;
  position: relative;
}

.wrapper i {
top: 40%;
cursor: pointer;
position: absolute;
font-size: 30px;
text-align: center;
line-height: 46px;
}

.wrapper i:first-child {
  left: -23px;
}

.wrapper i:last-child {
  right: -23px;
}

.wrapper .carousel {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.carousel .carousel-img{
  height: 236px;
  object-fit: cover;
  width: 327px;
  margin-left: 20px;
  cursor: pointer;
}


.carousel .carousel-img img{
  height: 236px;
  object-fit: cover;
  width: 327px;
  cursor: pointer;
  border-radius: 7px;
}


.carousel-img:first-child {
  margin-left: 0px;
}

.lowerleft-carousel {
  font-size: 18px;
  max-width: 300px;
  overflow: visible;
  white-space: wrap;
}

.upperright-carousel {
  top: 5px;
  right: 5px;
}

.Newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Newsletter-container .email-input {
  height: 50px;
  position: relative;
}

.Newsletter-container .email-input input {
  height: 100%;
  width: 300px;
  padding-left: 20px;
  font-size: 18px;
  outline: none;
  border-radius: 50px;
  border: none;
}

.Newsletter-container .email-input button {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #D8B320;
  outline: none;
  background: #D8B320;
}

.Newsletter-container .email-input button:hover {
  background: #bba757;
  color:#2e2f32;
}


